<div class="menu">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Doctor</a></li>
        <li><a href="#">Hospital </a></li>
        <li><a href="#">Medicine </a></li>
        <li><a href="#">Appointment</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="/viewprescription/:id">Prescription</a></li>
        <li><a href="#">Review</a></li>
        <li><a href="#">Logout</a></li>
    </ul>
</div>