<%- include("./partial/header.ejs") %> 
    <body>
        <div class="main">
            <div class="navbar">
                <h2 class="logo">MediSolution</h2>       
            </div> 

            <%- include("./partial/navbar.ejs") %> 
            <div class="prescriptiontable">
                <table>
                    <thead>
                        <tr class="p">
                            <th>Doctor Name</th>
                            <th>Date</th>
                            <th>Prescription</th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>DR.Max</td>
                            <td type='date'>10.10.2021</td>
                            <td>
                                Napa takes two times per day.
                                Napa takes two times per day.
                                Napa takes two times per day
                            </td>
                        </tr>
                        <tr>
                            <td>DR.Max</td>
                            <td type='date'>10.10.2021</td>
                            <td>
                                Napa takes two times per day.
                                Napa takes two times per day.
                                Napa takes two times per day
                            </td>
                        </tr>
                        <tr>
                            <td>DR.Max</td>
                            <td type='date'>10.10.2021</td>
                            <td>
                                Napa takes two times per day.
                                Napa takes two times per day.
                                Napa takes two times per day
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>